body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(backgroundabout.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;     
}

main {
    width: 700px;
    height: 500px;
    padding: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    position: relative;
    border: 5px solid;
    border-image: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00f3, #ff0000) 1;
    animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00f3, #ff0000);
    }
    50% {
        border-image-source: linear-gradient(45deg, #ff00f3, #7a00ff, #002bff, #00ffd5, #48ff00, #fffb00, #ff7300, #ff0000, #ff00f3);
    }
    100% {
        border-image-source: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00f3, #ff0000);
    }
}
main h1 {
    color: whitesmoke;
    text-align: center;
}
main p {
    margin: 30px 30px;
    color: whitesmoke;
    text-align: center;
}

.left {
    margin-right: 45%;
    margin-left: 150px;
    background-color: black;
    border-radius: 5px;
}
.no-blur-circle {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    top: 40%;
    left: 76%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.no-blur-circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(backgroundabout.jpg);
    background-size: cover;
    background-position: right;
}

img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 65%;
    left: 73.5%;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#home {
    position: absolute;
    top: 50px;
    left: 50px;
}