* {
    box-sizing: border-box;
  }

html {
    background-color: rgba(0, 0, 0, 0.87);
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.733);
    max-width: 1200px;
    height: auto;
    margin: 20px auto;
    padding: 10px 20px;
    line-height: 1.6;  
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
header p {
    font-size: 1em;
    border-bottom: 1px solid #ccc;
}
header img {
    transition: transform 0.3s ease;
}
header img:hover {
    border-radius: 25px;
    box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.486);
    cursor: pointer;
    transform: scale(1.1)
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;  
}
main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px rgba(180, 127, 127, 0.486);
    padding: 10px;
    margin: 10px;
    width: 50%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main section:hover {
    transform: scale(1.05)
}
main section h2 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}
main section p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 0 20px;
    margin-bottom: 10px;
    
}
main aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px rgba(180, 127, 127, 0.486);
    padding: 10px;
    margin: 10px;
    width: 30%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main aside:hover {
    transform: scale(1.05)
}
footer {
    margin-top: 30px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 30px 1px rgba(180, 127, 127, 0.486);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    scale: 0.9;
}
footer:hover {
    transform: scale(1.1)
}
footer h2 {
    text-align: center;
}
#rating-result {
    border-bottom: 1px solid #ccc;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.star {
    font-size: 2em;
    cursor: pointer;
    color: #ccc;
}
.star:hover,
.star:hover ~ .star {
    color: #ffcc00;
}
.star.selected,
.star.selected ~ .star {
    color: #ffcc00;
}
.fascinate-inline-regular {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}

#github-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 20px;
}
.stat-widget {
    margin: 10px;
    transition: transform 0.3s ease;
}
.stat-widget:hover {
    transform: scale(1.1)
}
aside div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px rgba(180, 127, 127, 0.486);
    transition: transform 0.3s ease;
}
aside div:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.img1 {
    rotate: 45deg;
    position: relative;
    top: -5px;
}
aside div p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 0 20px;
}
.img2 {
    rotate: none;
    position: relative;
}