*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.unlock-regular {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: normal;
}
  
body {
    background-image: url(backmain.jpg);
}
main {
    max-width: 1200px;
    height: 100vh;
    display: block;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    margin: 0px auto;
}
.sidebar-left {
    display: grid;
    position: absolute;
    left: 0;
    backdrop-filter: blur(2px);
    width: 358px;
    height: 2000px;
}
.sidebar-right {
    display: grid;
    position: absolute;
    right: 0;
    backdrop-filter: blur(2px);
    width: 358px;
    height: 2000px;
}

main h1 {
    text-align: center;
    font-size: 56px;
    color: whitesmoke;  
}

.nachalo {
    width: 1200px;
    height: 700px;
    background-image: url(nachalo.jpg);
}
.nachalo h2 {
    color: whitesmoke;
    font-size: 26px;
    margin-left: 125px;
    margin-top: 50px;
}
.nachalo h4 {
    color: aliceblue;
    position: relative;
    top: -25px; /* Поднимает текст на 5 пикселей вверх */
    font-size: 20px;
    margin-left: 80px;
}
.nachalo p {
    text-align: left;
    margin-left: 80px;
    color: whitesmoke;
    font-size: 20px;
}
.nachalo strong {
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
.nachalo strong:hover {
 border-bottom: 3px solid black;
}
.dotalogo {
    margin-right: 25px;
    margin-left: 75px;
    position: relative;
    top: -35px; /* Поднимает текст на 5 пикселей вверх */
}

.nachalo h3 { 
    color: grey;
    margin-left: 80px;
    margin-top: 50px;
}
#ranglogo {
    position: relative;
    top: 10px; /* Поднимает текст на 5 пикселей вверх */
    margin-left: 80px;
}
#rangetext {
    position: relative;
    top: -21px; /* Поднимает текст на 5 пикселей вверх */
    margin-left: 120px;
}

.container {
    display: flex;
    justify-content: flex-start; /* Выравнивание по горизонтали */
    align-items: flex-start; /* Выравнивание по вертикали */
    gap: 20px; /* Расстояние между квадратами */
    position: absolute; /* Позволяет перемещать контейнер */
    top: 550px; /* Положение контейнера по вертикали */
    left: 450px; /* Положение контейнера по горизонтали */

}

.square {
    width: 20px;
    height: 20px;
    background-color: #3498db; /* Цвет значка */
    transform: rotate(45deg); /* Поворот на 45 градусов */
}

/* Заполненные квадраты */
.square.filled {
    background-color: #3498db; /* Цвет заполненных квадратов */
}

/* Полый квадрат */
.square.hollow {
    border: 3px solid #3498db; /* Создаем полый квадрат с помощью границы */
    background-color: transparent; /* Полый внутри */
}
.nachalo .diff {
    color: grey;
    margin-top: 30px;
}
.line {
    border: none; /* Убираем стандартную границу */
    height: 3px; /* Толщина линии */
    background-color: grey; /* Цвет линии */
    width: 895px; /* Длина линии */
    position: relative;
    top: 55px; /* Поднимает текст на 5 пикселей вверх */
    left: 300px;
}
.dotalogo2 {
    position: relative;
    top: 80px; /* Поднимает текст на 5 пикселей вверх */
    left: 249px;  
}
.heroname {
    position: relative;
    top: 114px; /* Поднимает текст на 5 пикселей вверх */
    left: 75px;
    
}
.line2 {
    border: none; /* Убираем стандартную границу */
    height: 3px; /* Толщина линии */
    background-color: grey; /* Цвет линии */
    width: 135px; /* Длина линии */
    position: relative;
    top: 55px; /* Поднимает текст на 5 пикселей вверх */
    left: 0px; 
}

.doterlogo {
    width: 400px;
    position: relative;
    top: -200px; /* Поднимает текст на 5 пикселей вверх */
    left: 750px;

    background-repeat: no-repeat;
    animation-timeline: scroll();
}
@keyframes animateSIze {
    to {
        background-size: 150%;
    }
}


.prodol {
    background-image: url(techies.jpg);
    animation: animatePosition linear;
    background-size: 200%;
    background-position: 100% 10%;
    height: 500px;
    width: 1200px;
    background-repeat: no-repeat;

    animation-timeline: view();
}

@keyframes animatePosition  {
    to {
        background-position: 20% 50%;
    }
}
.prodol2 {
    background-image: url(prodol2.jpg);
    width: 1400px;
    height: 500px;
    position: relative;
    top: -20px; /* Поднимает текст на 5 пикселей вверх */
    left: -100px; 
    border-radius: 10px;
}